<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="initial-scale=1.0, shrink-to-fit=no">

    <meta property="title" content="Win tickets to the London Premiere of Disney•Pixar's Finding Dory" />
    <meta property="description" content="To celebrate the release of Disney•Pixar's Finding Dory, we're giving one lucky family the chance to win four tickets to the London Premiere on 10 July 2016." />
    <meta name="author" content="Qantas">
    <meta property="image" content="https://findingdory.herokuapp.com/img/icons/200x200.jpg" />

    <meta property="og:title" content="Win tickets to the London Premiere of Disney•Pixar's Finding Dory" />
    <meta property="og:description" content="To celebrate the release of Disney•Pixar's Finding Dory, we're giving one lucky family the chance to win four tickets to the London Premiere on 10 July 2016." />
    <meta name="og:author" content="Qantas">
    <meta property="fb:app_id" content="1004723306309339" />
    <meta property="og:image" content="https://findingdory.herokuapp.com/img/icons/200x200.jpg" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/git3ulx.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/loading-bar.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animation.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/img/favicon.png">

</head>

<body>
    <!-- Facebook code
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
        function sharefb() {
            FB.ui({
                method: 'feed',
                name: "Win tickets to the London Premiere of Disney•Pixar's Finding Dory",
                title: "Win tickets to the London Premiere of Disney•Pixar's Finding Dory",
                app_id: '1004723306309339',
                href: 'http://www.qantas-findingdory-comp.com.au',
                link: 'http://www.qantas-findingdory-comp.com.au',
                picture: 'https://findingdory.herokuapp.com/img/icons/200x200.jpg',
                description: "To celebrate the release of Disney•Pixar's Finding Dory, we're giving one lucky family the chance to win four tickets to the London Premiere on 10 July 2016."
            }, function(response) {});
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        window.fbAsyncInit = function() {
            FB.init({
                appId: '1004723306309339',
                xfbml: true,
                version: 'v2.6'
            });

            FB.Canvas.setAutoGrow();
        };

        (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="facebook-app">

        <div class="facebook-app-inner">
            <div class="qantas-cta">
                <div class="arrow-container">
                  <img class="arrow-img-01" src="/img/icons/arrow-down.svg" alt="">
                  <img class="arrow-img-02" src="/img/icons/arrow-down.svg" alt="">
                </div>
                <img src="/img/win.png" alt="" />
            </div>
            <main data-ng-view></main>
        </div>

        <div class="fish">

            <!-- <div class="dugong">
              <div class="dugong-container">
                <img src="/img/dugong-eye-lid.png" alt="" class="dugong-eye-lid">
                <img src="/img/dugong-body.png" alt="" class="dugong-body">
                <img src="/img/dugong-left-fin.png" alt="" class="dugong-left-fin">
                <img src="/img/dugong-right-fin.png" alt="" class="dugong-right-fin">
              </div>
            </div>
            <div class="whale-shark">
              <div class="whale-shark-container">
                <img class="ws-body" src="/img/ws-body.png" alt="">
                <img class="ws-left-fin" src="/img/ws-left-fin.png" alt="">
                <img class="ws-right-fin" src="/img/ws-right-fin.png" alt="">
                <img class="ws-left-eye" src="/img/ws-left-eye.png" alt="">
                <img class="ws-right-eye" src="/img/ws-right-eye.png" alt="">
              </div>
            </div> -->

            <div class="dory">
                <div class="dory-container">
                  <div class="dory-left-eye dory-skin"></div>
                  <div class="dory-right-eye dory-skin"></div>
                  <img class="dory-body-01" src="/img/dory-body.png" alt="">
                  <img class="dory-left-fin" src="/img/dory-left-fin.png" alt="">
                  <img class="dory-right-fin" src="/img/dory-right-fin.png" alt="">
                </div>
                <!-- <img class="dory-body" src="/img/dory.png" alt="" /> -->
            </div>

            <div class="nemo">
                <!-- <div class="nemo-04-container">
                    <div class="nemo-left-eye clown-fish-skin"></div>
                    <div class="nemo-right-eye clown-fish-skin"></div>
                    <img class="nemo-body-04-body" src="/img/nemo-body-04.png" alt="">
                    <img class="nemo-right-fin-04" src="/img/nemo-right-fin-04.png" alt="">
                    <img class="nemo-left-fin-04" src="/img/nemo-left-fin-04.png" alt="">
                    <img class="nemo-top-fin-04" src="/img/nemo-top-fin-04.png" alt="">
                </div> -->
            </div>

            <div class="marlin">

                <!-- <img class="marlin-body" src="/img/marlin.png" alt="" /> -->
                <!-- <div class="marlin-container">
                  <div class="marlin-left-eye clown-fish-skin"></div>
                  <div class="marlin-right-eye clown-fish-skin"></div>
                  <img class="marlin-body-01" src="/img/marlin-body.png" alt="">
                  <img class="marlin-right-fin" src="/img/marlin-right-fin.png" alt="">
                  <img class="marlin-left-fin" src="/img/marlin-left-fin.png" alt="">
                  <img class="marlin-bottom-left-fin" src="/img/marlin-bottom-left-fin.png" alt="">
                  <img class="marlin-bottom-right-fin" src="/img/marlin-bottom-right-fin.png" alt="">
                </div> -->
            </div>

            <!-- <div class="hank">
                <img class="hank-left-eye" src="/img/hank-left-eye.png" alt="">
                <img class="hank-right-eye" src="/img/hank-right-eye.png" alt="">
                <img class="hank-body" src="/img/hank-body.png" alt="" />
                <img class="hank-arm" src="/img/hank-arm.png" alt="" />
            </div>
        </div> -->

        <div class="background-video">
            <video autoplay loop>
                <source src="/media/uk.mp4" type="video/mp4" poster="/img/desktop-background.png">
                <source src="/media/uk.webmhd.webm" type="video/webm" poster="/img/desktop-background.png">
            </video>
        </div>

        <!-- <div class="background-video-bottom">
            <img src="/img/overlay.png" alt="" />
            <video autoplay loop>
                <source src="/media/bottom.mp4" type="video/mp4">
                <source src="/media/bottom.webm" type="video/webm">
            </video>
        </div> -->

    </div>

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <script src="/js/app.min.js"></script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-75408423-2', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
